
# Node environment (development / production)
NODE_ENV=development

# Server Port
PORT=3000

# Prisma Database connection URL
# Use the connection string for your database (e.g. PostgreSQL, SQLite)
DATABASE_URL="postgresql://username:password@hostname:port/database?sslmode=require"
